// Header styling
header {
    background-color: $primary-color;
    padding: 10px;

    nav {
        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;

            li {
                a {
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
}
