// Import variables and partials
@import 'variable';
@import 'partials/header';
@import 'partials/footer';

// Body styling
body {
    font-family: 'Arial', sans-serif;
    background-color: $background-color;
    color: $text-color;
    height: auto;
    width: 100%;


    // Responsive font size
    @media screen and (max-width: 768px) {
        font-size: 1em;
    }
}

// Main content styling
.content {
    padding: 20px;
    max-width: 70ch; // Limiting maximum width
   

    h1 {
        color: $primary-color;
        font-size: 1.5em;
    }

    p {
        margin-top: 10px;
        font-size: 1.2em;
    }
}
// Responsive layout adjustments
@media screen and (max-width:1024px) and (min-width:768px){
    // Add specific styles for smaller screens or narrow viewports
    .content {
        padding: 10px; // Adjust padding for smaller screens
        max-width: 50ch;
    }
}
// Theme switch based on user preference
@media (prefers-color-scheme: light) {
    // Light theme
    body {
        background-color: $light-background-color;
        color: $light-text-color;
    }
}

@media (prefers-color-scheme: dark) {
    // Dark theme
    body {
        background-color: $dark-background-color;
        color: $dark-text-color;
    }
}
